mixin tree(data)
  .tree
    ul
      li.tree__file
        a(href="#" title="") Время и стекло
      li.tree__folder Говношансон
        ul
          li.tree__file
            a(href="#" title="") Время и стекло
          li.tree__folder Говношансон
            ul
              li.tree__file
                a(href="#" title="") Время и стекло
              li.tree__folder Говношансон
                ul
                  li.tree__file
                    a(href="#" title="") Время и стекло
                  li.tree__file
                    a(href="#" title="") Время и стекло
                  li.tree__file
                    a(href="#" title="") Время и стекло