// Common styles of the project

html,
body {
  font-family: 'Lato-Regular';
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  color: #333;
}
input,textarea {
	border: none;
	outline: none;
	resize: none;
	box-sizing: border-box;
}