mixin downloads-list(search,buttons,active)
	-var modifier = attributes.class || ''
	.downloads-list(class="#{modifier}")
		h1.downloads-list__title 
			-if(active == true)
				i.fa.fa-refresh
				| Активные загрузки
			-else
				i.fa.fa-check
				| Завершенные загрузки			
		.downloads-list-table
			.downloads-list-table__row._top(class="#{modifier}")
				.downloads-list-table__col._flex
					.downloads-list-table__heading-title Имя файла
					-if(search == true)
						form(action="" method="GET").downloads-list-table-form
							input(type="text" value="" placeholder="Поиск по значкам").downloads-list-table-form__input
							input(type="submit" value="Найти").downloads-list-table-form__submit._silver
				.downloads-list-table__col.xsmall-hide
					.downloads-list-table__heading-title Статус
				.downloads-list-table__col.xsmall-hide
					.downloads-list-table__heading-title Размер на диске
			.downloads-list-table__row
				.downloads-list-table__col
					-if(buttons == true)
						.downloads-list-table__name._blue
							| VA - Русское радио. Бархатный сезон (2016)
						.downloads-list-table__group-buttons
							a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
							a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
					-else								
						.downloads-list-table__name VA - Русское радио. Бархатный сезон (2016)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							-if(buttons == true)
								i.fa.fa-check-circle
								span Готово									
							-else
								i.fa.fa-clock-o
								span Подготовка					
						+progress
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб
			.downloads-list-table__row
				.downloads-list-table__col
					.downloads-list-table__name._blue
						| VA - Русское радио. Бархатный сезон (2016)
					.downloads-list-table__group-buttons
						a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
						a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							.fa-download 
								span Подготовка					
						+progress
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб

			.downloads-list-table__row
				.downloads-list-table__col
					.downloads-list-table__name._blue
						| VA - Русское радио. Бархатный сезон (2016)
					.downloads-list-table__group-buttons
						a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
						a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							.fa-timer 
								span Подготовка					
						+progress
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб

			.downloads-list-table__row
				.downloads-list-table__col
					.downloads-list-table__name._blue
						| VA - Русское радио. Бархатный сезон (2016)
					.downloads-list-table__group-buttons
						a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
						a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							.fa.fa-error 
							span Ошибка					
						+progress
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб

			.downloads-list-table__row
				.downloads-list-table__col
					.downloads-list-table__name._blue
						| VA - Русское радио. Бархатный сезон (2016)
					.downloads-list-table__group-buttons
						a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
						a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							.fa.fa-arc 
							span Архив					
						+progress
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб

			.downloads-list-table__row
				.downloads-list-table__col
					-if(buttons == true)
						.downloads-list-table__name._blue
							| VA - Русское радио. Бархатный сезон (2016)
						.downloads-list-table__group-buttons
							a(href="#" title="").downloads-list-table__button._green._small Скачать все файлы
							a(href="#" title="").downloads-list-table__button._green._small._last Скачать архивом (120 мб)
					-else								
						.downloads-list-table__name VA - Русское радио. Бархатный сезон (2016)
				.downloads-list-table__col
					.downloads-list-table-status
						.downloads-list-table-status__left
							-if(buttons == true)
								i.fa.fa-check-circle
								span Готово									
							-else
								i.fa.fa-arrow-circle-o-down
								span Архивирование
						+progress._some
				.downloads-list-table__col
					.downloads-list-table__size 86 Мб из 137 Мб
			-if(buttons == false)
				.downloads-list-table__row
					.downloads-list-table__col
						.downloads-list-table__name VA - Русское радио. Бархатный сезон (2016)
					.downloads-list-table__col
						.downloads-list-table-status
							.downloads-list-table-status__left
								i.fa.fa-check-circle
								span Готово
							+progress._full		
					.downloads-list-table__col
						.downloads-list-table__size 86 Мб из 137 Мб