.downloads-list {
	margin-bottom: 60px;
	@media screen and(max-width: 760px) {
		margin-bottom: 30px;
	}		
	&._last {
		margin-bottom: 0;
	}
	&__title {
		@extend .main-title;
		margin-top: 0;
		margin-bottom: 5px;
		@media screen and(max-width: 960px) {
			margin-bottom: 12px;
		}		
		.fa {
			color: #4b81bd;
			font-size: 16px;
			padding-right: 5px;
			&._green {
				color: #18973c;
			}
		}
	}
}
.downloads-list-table {
	border-top: 1px solid #dadada;
	&__row {
		display: flex;
		padding-top: 12px;
		padding-bottom: 12px;
		border-bottom: 1px solid #dadada;
		justify-content: space-between;
		padding-left: 20px;
		@media screen and(max-width: 480px) {
			display: block;
		}				
		&._top {
			background-color: #f9f9f9;
			align-items: center;
		}
		&._completed {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	&__col {
		@media screen and(max-width: 480px) {
			margin-bottom: 15px;
		}	
		&:nth-child(1) {
			width: 360px;
			@media screen and(max-width: 960px) {
				width: 30%;
			}			
		}
		&:nth-child(2) {
			width: 400px;
			@media screen and(max-width: 960px) {
				width: 40%;
			}			
		}
		&:nth-child(3) {
			width: 230px;
			@media screen and(max-width: 960px) {
				width: 20%;
			}			
		}		
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {

			@media screen and(max-width: 480px) {
				width: auto;
			}			
		}				
		&._flex {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@media screen and(max-width: 480px) {
				display: block;
			}				
		}
	}
	&__heading-title {
		text-transform: uppercase;
		font-size: 14px;
		color: #807b7b;
	}
	&__name {
		color: #a1a1a1;
		&._blue {
			color: #104e88;
			font-family: 'Lato-Semibold';
			margin-bottom: 15px;
		}
	}
	&__status {
		display: flex;

	}
	&__button {
		@extend .button;
		font-size: 12px;
		text-transform: uppercase;
		margin-right: 4px;
		@media screen and(max-width: 960px) {
			margin-bottom: 12px;
		}	
		@media screen and(max-width: 480px) {
			display: block;
			margin-bottom: 12px;
			text-align: center;
		}			
	}
}
.downloads-list-table-status {
	display: flex;
	@media screen and(max-width: 480px) {
		display: block;
	}		
	.fa {
		color: #4b81bd;
	}
	&__left {
		width: 164px;
		span {
			padding-left: 10px;
		}		
	}
}
.downloads-list-table-form {
	margin-left: 45px;
	@media screen and(max-width: 480px) {
		margin-left: 0;
	}		
	&__input {
		@extend .input-form;
		height: 25px;
		width: 130px;
		font-size: 14px;
		padding-left: 4px;
		font-family: 'Lato-Italic';
	}
	&__submit {
		@extend .button;
		padding: 5px 13px 5px;
		text-transform: uppercase;
		line-height: 1;
		font-size: 14px;
	}	
}