mixin playlist(double_line)
	-var modifier = attributes.class || ''
	.playlist(class="#{modifier}")
		.playlist-list
			a(href="#" title="").playlist__item._first
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span
					|001 Макс Барских - Последний Летний День.mp3
	-if(double_line == true)				
		.double-line
	-else
		.line
			