mixin playlist(double_line)
	-var modifier = attributes.class || ''
	.playlist(class="#{modifier}")
		.playlist-list
			.playlist__item
				.js-playlist-toggle
					i.fa.fa-folder    
					span
						| Best Hits - February 2017
				.playlist-list-tree._parent
					ul
						li.playlist-list-tree__item._main: a(href="#" title="")
								i.fa.fa-arrow-circle-o-down
								span Quest Pistols Show - Лучше всех.mp3
						li.playlist-list-tree__item._main: a(href="#" title="")
								i.fa.fa-arrow-circle-o-down
								span Время и Стекло - 505.mp3								
						li.playlist-list-tree__item
							i.fa.fa-folder    
							span
								| Dance
							ul
								li.playlist-list-tree__item
									a(href="#" title="")
										i.fa.fa-arrow-circle-o-down
										span Sia - Cheap Thrills.mp3
									li.playlist-list-tree__item
										i.fa.fa-folder    
										span
											| Лучшее
										ul
											li.playlist-list-tree__item
												a(href="#" title="")
													i.fa.fa-arrow-circle-o-down
													span Sia - Unstoppable.mp3
											li.playlist-list-tree__item
												i.fa.fa-folder    
												span
													| Самое Лучшее
												ul
													li.playlist-list-tree__item
														a(href="#" title="")
															i.fa.fa-arrow-circle-o-down
															span Shawn Mendes - Treat Your Better.mp3
													li.playlist-list-tree__item
														i.fa.fa-folder    
														span
															| Самое самое лучшее
														ul
															li.playlist-list-tree__item: a(href="#" title="")
																	i.fa.fa-arrow-circle-o-down
																	span Imany - Don't be so shy.mp3
															li.playlist-list-tree__item: a(href="#" title="")
																	i.fa.fa-arrow-circle-o-down
																	span Sia - The Greatest.mp3
						li.playlist-list-tree__item
							i.fa.fa-folder    
							span
								| Rock
							ul
								li.playlist-list-tree__item
									a(href="#" title="")
										i.fa.fa-arrow-circle-o-down
										span Scorpions - Wind Of Change.mp3																																				
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				i.fa.fa-arrow-circle-o-down    
				span 001 Макс Барских - Последний Летний День.mp3
	-if(double_line == true)				
		.double-line
	-else
		.line
			