mixin playlist(double_line)
	-var modifier = attributes.class || ''
	.playlist(class="#{modifier}")
		ul.playlist-list
			li.playlist-list__folder
				span
					| Best Hits - February 2017
				ul
					li.playlist-list__item
						a(href="#" title="")
							span Quest Pistols Show - Лучше всех.mp3
					li.playlist-list__item
						a(href="#" title="")
							span Время и Стекло - 505.mp3
					li.playlist-list__folder
						span
							| Dance
						ul
							li.playlist-list__item
								a(href="#" title="")
									span Sia - Cheap Thrills.mp3
							li.playlist-list__folder
								span
									| Лучшее
								ul
									li.playlist-list__item
										a(href="#" title="")
											span Sia - Unstoppable.mp3
									li.playlist-list__folder
										span
											| Самое Лучшее
										ul
											li.playlist-list__item
												a(href="#" title="")
													span Shawn Mendes - Treat Your Better.mp3
											li.playlist-list__folder
												span
													| Самое самое лучшее
												ul
													li.playlist-list__item
														a(href="#" title="")
															span Imany - Don't be so shy.mp3
													li.playlist-list__item
														a(href="#" title="")
															span Sia - The Greatest.mp3
					li.playlist-list__folder
						span
							| Rock
						ul
							li.playlist-list__item
								a(href="#" title="")
									span Scorpions - Wind Of Change.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
			a(href="#" title="").playlist__item
				span 001 Макс Барских - Последний Летний День.mp3
	-if(double_line == true)				
		.double-line
	-else
		.line
			