mixin song-block(data)
	.song-block
		.song-block-left
			h1.song-block-left__title VA - Русское радио. Бархатный сезон (2016)
			.song-block-left__group-buttons
				a(href="#" title="").song-block-left__button._green._small Скачать все файлы
				a(href="#" title="").song-block-left__button._green._small._last Скачать архивом (120 мб)	
		.song-block-right
			.song-block-right__title Размер на диске
			.song-block-right__size 86 Мб из 137 Мб